<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Process list" />
  <meta charset="utf-8">
  <title>Process list</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alexey Petushkov">
  <style>
  .title {font-size: 2rem; background: #a3a3d6;padding: 8px;}
  .log {margin-bottom: 20px;}

  </style>
</head>

<body>
  {{#processes}}
    <div class="title"><a href="/service/{{config.name}}">{{config.name}}</a></div>
    <div class="log">
      {{{output}}}
    </div>
  {{/processes}}
</body>
</html>
