<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Process list" />
  <meta charset="utf-8">
  <title>Process list</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alexey Petushkov">
  <style>
  body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  .title {font-size: 2rem; background: #a3a3d6;padding: 8px; position: sticky;}
  .log {margin-bottom: 20px;}
  .process {
    box-sizing: border-box;
    padding: 5px;
    border-right: 1px solid #333;
    flex: 0 0 20vw;
    height: 100vh;
    overflow-y: auto;
    background: #02eb16;
  }
  .inactive {
    background: #eee;
  }
  </style>
</head>

<body>
  {{#processes}}
    <div class="process {{^handle}} inactive{{/handle}}">
      <div class="title"><a href="/service/{{config.name}}">{{config.name}}</a></div>
      <div class="log">
        {{{output}}}
      </div>
    </div>
  {{/processes}}
  <script>
    // Reload page
    setTimeout(() => {window.location.reload(false); }, 30000);
  </script>
</body>
</html>
