<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Service" />
  <meta charset="utf-8">
  <title>Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alexey Petushkov">
  <link rel="stylesheet" href="css/style.css">
  <style>
  .log {margin-bottom: 20px; background: #555;}
  </style>
</head>

<body>
  Service {{ name }}
  <form method="post">
    <input type="hidden" name="kill" value="1" />
    <button type="submit">Kill</button>
  </form>
  <br />
  <div class="log">
    <code>
      {{{output}}}
    </code>
  </div>
<script>
</script>

</body>
</html>
